.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 20px 0;
}

.game-card img {
  width: 80%;
  height: 45vh;
  border-radius: 8px;
  margin-bottom: 10px;

}

.game-card img:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: auto;
}

.pagination span {
  font-weight: bold;
}
