.login-container{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    border-radius: 6px;
    height: 30px;
    margin: 10px;
    font-size: 16px;
    width: 200px;
    padding: 8px;
    border: 1px solid #ddd;
    
}

p {
    color: #FFFFFF;
  }

.container{
    background-color: #333333;
    height: 300px;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.1),
     0px 8px 16px rgba(255, 255, 255, 0.1);
    display: grid;

    

}

form{
    top: 50%;
    width: 300px;
    height: 200px;
    background-color: #333333;
    display: contents;

}

button{
    background-color: #464646;
    height: 30px;
    width: 100px;
    color: #FFFFFF;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 10px;
    }

button:hover{
    background-color: #7e7d7d;
}

.form-group {
    display: flex;
    flex-direction: column; 
    margin-bottom: 10px; 
}

