
.navbar {
    background-color: #333333;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    width: 10vh;
}

button{
    background-color: #333333;
}

nav{
    height: 56px;
}

