/* General styles for navbar */
.navbar {
    background-color: #333333;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
  }
  
  .navbar-brand {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 75%;
    justify-content: flex-end;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    width: 10vh;
  }
  
  button {
    background-color: #333333;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .menu-icon {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: 0.3s;
  }
  
  
  @media (max-width: 768px) {
    .menu-toggle {
      display: block; 
    }
  
    .nav-list {
      display: none; 
      flex-direction: column;
      position: absolute;
      top: 56px;
      left: 0;
      right: 0;
      background-color: #333333;
      z-index: 1000;
      padding: 10px 0;
    }
  
    .nav-list.active {
      display: flex; 
    }
  
    .nav-item {
      margin: 10px 0;
      text-align: center;
    }
  }
  