nav {
    border-radius: 30%;
    border-color: black;
    border-bottom: 1rem;
}

ul {
    border-radius: 30%;
    border-color: black;
}

h1 {
    color: red;
}

div {
    border-radius: 30%;
    border-color: black;
    border-bottom: 1rem; 
}